<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988154087943-021kt591c3mjjrv64a9fd0rtba95qt98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988154087943-021kt591c3mjjrv64a9fd0rtba95qt98</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988154087943-6tq7vp54lf1kks9adi42i6mmk64sl6fs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1JhqJOGjCcN7nvl1uU2TTLF9ggPwD4G4</string>
	<key>GCM_SENDER_ID</key>
	<string>988154087943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halofoto.halofotoLive</string>
	<key>PROJECT_ID</key>
	<string>halofotolive</string>
	<key>STORAGE_BUCKET</key>
	<string>halofotolive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988154087943:ios:15c2dc09cfcefda4ed38a2</string>
</dict>
</plist>